body {
  background-color: cadetblue;
}

table {
  width: 100%
}

.a {
  max-width: 300px; /* ignored except for unbreakable word */
  min-width: 200px; /* min */
  background-color: papayawhip;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.a-overflow-wrap {
  overflow-wrap: anywhere;
}
