body {
  background-color: cadetblue;
}

table {
  width: 100%
}

td {
  background-color: papayawhip;
}

.a1 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
}

.a2 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
}

.a3 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
  overflow-wrap: anywhere;
}

.a4 {
  max-width: 300px; /* min */
  min-width: 200px; /* ignored */
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.b1 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
  width: 250px; /* max */
}

.b2 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
  width: 250px; /* max */
}

.b3 {
  max-width: 300px; /* ignored */
  min-width: 200px; /* min */
  width: 250px; /* max */
  overflow-wrap: anywhere;
}

.b4 {
  max-width: 300px; /* fixed */
  min-width: 200px; /* ignored */
  width: 250px; /* ignored */
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.c1 {
  min-width: 200px; /* min */
  width: 250px; /* max */
}

.c2 {
  min-width: 200px; /* min */
  width: 250px; /* max */
}

.c3 {
  min-width: 200px; /* min */
  width: 250px; /* max */
  overflow-wrap: anywhere;
}

.c4 {
  min-width: 200px; /* ignored */
  width: 250px; /* ignored, column is fixed to content width */
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.d {
  min-width: 200px; /* ignored, column width is not fixed */
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.e {
  width: 250px; /* ignored, column is fixed to content width */
  overflow-x: hidden;
  text-overflow: ellipsis;
}
